.cardList{
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;
    overflow: hidden;
    height: calc(305px*10);
    overflow: hidden;
}

@media  (max-width: 1000px) and (min-width: 477px) {
    .cardList{
        height: calc(305px*15);
    }
}

@media (max-width: 477px){
    .cardList{
        grid-template-columns: 1fr;
        max-width: 190px;
        margin: auto;
        margin-top: 20px;
        height: calc(305px*20);
    }
}

@media (max-width: 1200px) and (min-width: 1000px){
    .cardList{
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(auto-fill,minmax(160px,170fr));
        grid-template-rows: repeat(10, 1fr);
        gap: 5px;
        overflow: hidden;
        max-height: calc(305px*10);
        overflow: hidden;
    }
}



